header #nav {
    display: flex;
    height: 43px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    list-style: none;
    align-items: center;
}

header #nav li {
    padding: 12px 16px;
    display: block;
}

header #nav li i {
    padding-right: 4px;
}

header #nav li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
}

header #nav li:hover {
    background: #ccc;
    cursor: pointer;
}